body {
  font-family: Arial;
  background-color: aliceblue;
  padding: 40px 0px;
}
.container {
  box-shadow: 0 0 20px grey;
  width: 960px ;
  margin: 0 auto
  background-color: white;
}

h2 {
  font-size: 28px;
}
h1 {
  font-size: 36px;
  margin-bottom: 10px;
}
span {
  color: grey;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
section,
header {
  padding: 10px 60px 20px 60px;
  padding-top: 60px;
  background-color: white;
  margin: auto auto;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header ul {
  list-style: none;
}
li {
  margin-bottom: 15px;
}
.address-icon {
  width: 16px;
  height: 16px;
  background-color: orangered;
  padding: 8px;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 50%;
}
